:root {
  --left-team-color: hsl(189, 100%, 51%);
  --left-team-bullet-color: hsl(189, 100%, 81%);
  --left-team-color-glow: hsla(189, 100%, 51%, 0.5);
  --right-team-color: hsl(27, 70%, 55%);
  --right-team-color-glow: hsla(27, 50%, 55%, 0.5);
  --good: #36cc00;
  --warning: #ffd500;
  --danger: #ff0000;  
  --arena-bg: hsl(0, 0%, 15%);
  --arena-outline: hsl(0, 0%, 20%);
  --arena-border: hsl(0, 0%, 30%);
  --arena-border-glow: hsla(0, 0%, 85%, 0.7);
  --arena-line: hsl(0, 0%, 65%);
  --arena-line-glow: hsla(0, 0%, 65%, 0.5);
  --text: hsl(0, 0%, 95%);

  --health-level: 100;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    margin: 0;
    background-color: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Space Grotesk', arial, sans-serif;  
  color: var(--text);
}

h1, h2, h3, h4, h5, h6, h7, h8, h9, h10 {
  font-family: 'Orbitron', arial, sans-serif;
}


#gameContainer {
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 100%;
}

#game-infos {
  display: flex;
  width: 100%;
  flex-direction: column;
}

#shooting-timeout-indicator {
  position: relative;
  width: 50px;
  height: 200px;
  border: 1px solid var(--arena-border);
}

canvas {
    cursor: crosshair; /* Default crosshair cursor */
    /* If you have a custom cursor image:
    cursor: url('path/to/crosshair.png'), crosshair;
    */
}

#canvasContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--arena-bg);
  opacity: 1;
  background-image: linear-gradient(var(--arena-outline) 2px, transparent 2px), linear-gradient(to right, var(--arena-outline) 2px, var(--arena-bg) 2px);
  background-size: 75px 75px;
  background-position: center;

  --border-radius: 21.6px;
  border-radius: var(--border-radius);

  &::after {
    content: "";
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    background-image: radial-gradient(circle, transparent 70%, var(--arena-bg));
  }

  --innerBorderWidth: 6px;
  --centralBorderWidth: 4px;
  --outerBorderWidth: 6px;
}

.inner-outline {
  position: absolute;
  top: calc(-1 * var(--innerBorderWidth));
  left: calc(-1 * var(--innerBorderWidth));
  z-index: 5555;
  width: calc(100% + 2 * var(--innerBorderWidth) - 1px);
  height: calc(100% + 2 * var(--innerBorderWidth) - 1px);
  border: var(--innerBorderWidth) solid var(--arena-border);
  border-radius: calc(var(--border-radius) + var(--innerBorderWidth));
}

.central-outline {
  position: absolute;
  z-index: -2;
  top: calc(-1 * (var(--centralBorderWidth) + var(--innerBorderWidth)));
  left: calc(-1 * (var(--centralBorderWidth) + var(--innerBorderWidth)));
  width: calc(100% + (2 * var(--centralBorderWidth)) + 2 * var(--innerBorderWidth));
  height: calc(100% + (2 * var(--centralBorderWidth)) + 2 * var(--innerBorderWidth));
  background-image: linear-gradient(90deg, var(--left-team-color) 40%, var(--right-team-color) 60%);
  border-radius: calc(var(--border-radius) + var(--innerBorderWidth) + var(--centralBorderWidth));

  overflow: hidden;

  &::before {  
    content: "";
    background: linear-gradient(
      90deg,
      rgb(0 0 0 / 0.25),
      rgb(0 0 0 / 0.25) 3px,
      transparent 3px,
      transparent 9px
    );
    background-size: 9px 100%;
    height: 100%;
    width: 100%;
    animation: pan-overlay 32s infinite linear;
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;
  }
}


@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: -100% 0%;
  }
}

.outer-outline {
  position: absolute;
  z-index: -3;
  top: calc(-1 * (var(--outerBorderWidth) + var(--centralBorderWidth) + var(--innerBorderWidth)));
  left: calc(-1 * (var(--outerBorderWidth) + var(--centralBorderWidth) + var(--innerBorderWidth)));
  width: calc(100% + (2 * var(--outerBorderWidth) + 2 * var(--centralBorderWidth)) + 2 * var(--innerBorderWidth));
  height: calc(100% + (2 * var(--outerBorderWidth) + 2 * var(--centralBorderWidth)) + 2 * var(--innerBorderWidth));
  background-color: var(--arena-border);
  border-radius: calc(var(--border-radius) + var(--innerBorderWidth) + var(--centralBorderWidth) + var(--outerBorderWidth));
}

canvas {
  box-sizing: border-box;
  position: relative;
  border-radius: 21.6px;
  overflow: hidden;
  z-index: 8888;
}

#centerline {
  position: absolute;
  z-index: 1;
  width: 3px;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 20px;
    left: 0;
    background-color: var(--arena-line);
    height: 187px;
    box-shadow: 0 0 5px 0px var(--arena-line-glow), inset 0 0 5px 0px var(--arena-line-glow);
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 355px;
    left: 0;
    background-color: var(--arena-line);
    height: 185px;
    box-shadow: 0 0 5px 0px var(--arena-line-glow), inset 0 0 5px 0px var(--arena-line-glow);
  }
}

#center {
  position: absolute;
  z-index: 1;
  width: 150px;
  height: 150px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 3px solid var(--arena-line);
  border-radius: 50%;
  box-shadow: 0 0 5px 0px var(--arena-line), inset 0 0 5px 0px var(--arena-line);
}

#left-zone {
  position: absolute;
  z-index: 1;
  width: 87px;
  height: 225px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: 3px solid var(--left-team-color);
  border-radius: 20px;
  border-left: 0;
  box-shadow: 0 0 5px 0px var(--left-team-color-glow), inset 0 0 5px 0px var(--left-team-color-glow);
}

#right-zone {
  position: absolute;
  z-index: 1;
  width: 87px;
  height: 225px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: 3px solid var(--right-team-color);
  border-right: 0;
  border-radius: 20px;
  box-shadow: 0 0 5px 0px var(--right-team-color-glow), inset 0 0 5px 0px var(--right-team-color-glow);
}

.corner {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  border: 3px solid transparent;

  &.corner-top-left {
    border-color: var(--left-team-color);
    top: 0;
    left: 0;
    border-radius: 30px 20px 50px 20px;
    border-top: 0;
    border-left: 0;
    box-shadow: 0 0 5px 0px var(--left-team-color-glow), inset 0 0 5px 0px var(--left-team-color-glow);
  }

  &.corner-top-right {
    border-color: var(--right-team-color);
    top: 0;
    right: 0;
    border-radius: 20px 30px 20px 50px;
    border-top: 0;
    border-right: 0;
    box-shadow: 0 0 5px 0px var(--right-team-color-glow), inset 0 0 5px 0px var(--right-team-color-glow);
  }

  &.corner-bottom-left {
    border-color: var(--left-team-color);
    bottom: 0;
    left: 0;
    border-radius: 20px 50px 20px 30px;
    border-bottom: 0;
    border-left: 0;
    box-shadow: 0 0 5px 0px var(--left-team-color-glow), inset 0 0 5px 0px var(--left-team-color-glow);
  }

  &.corner-bottom-right {
    border-color: var(--right-team-color);
    bottom: 0;
    right: 0;
    border-radius: 50px 20px 30px 20px;
    border-bottom: 0;
    border-right: 0;
    box-shadow: 0 0 5px 0px var(--right-team-color-glow), inset 0 0 5px 0px var(--right-team-color-glow);
  }
}

.side {
  position: absolute;
  z-index: 1;
  width: 150px;
  height: 3px;
  background: var(--arena-line);
  box-shadow: 0 0 5px 0 var(--arena-line);
  left: 50%;
  transform: translateX(-50%);

  &::before, &::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 45px;
    background: var(--arena-line);
    box-shadow: 0 0 5px 0 var(--arena-line);
  }

  &.top-side {
    top: 20px;

    &::before {
      transform-origin: bottom center;
      transform: rotate(-60deg);
      bottom: 50%;
      left: -.8px;
    }

    &::after {
      transform-origin: bottom center;
      transform: rotate(60deg);
      bottom: 50%;
      right: -.8px;
    }
  }

  &.bottom-side {
    bottom: 20px;

    &::before {
      transform-origin: bottom center;
      transform: rotate(-120deg);
      bottom: 50%;
      left: -.8px;
    }

    &::after {
      transform-origin: bottom center;
      transform: rotate(120deg);
      bottom: 50%;
      right: -.8px;
    }
  }
}

#shooting-timeout-indicator {
  display: none;
  position: absolute;
  z-index: 9999;
  width: 30px;
  height: 5px;
  background: var(--arena-outline);
  transform: translate(-50%, 50%);

  & span {
    position: absolute;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    background: var(--arena-line);
  }

  &.active span {
    animation: shooting-timeout-indicator-animation var(--shooting-timeout) linear;
  }

  &.reloading span {
    background: var(--good);
    animation: reload-animation var(--reload-time) linear;
  }
}

@keyframes shooting-timeout-indicator-animation {
  0% { width: 100%; }
  100% { width: 0%; }
}

@keyframes reload-animation {
  0% { width: 0%; }
  100% { width: 100%; }
}


#ammo-indicator {
  position: absolute;
  z-index: 9999;
  font-size: 12px;
  text-align: center;
  transform: translate(-50%, -80%);
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}

#health-indicator {
  display: none;
  position: absolute;
  z-index: 9999;
  width: 40px;
  height: 6px;
  background: linear-gradient(270deg, var(--good) 0%, var(--warning) 80%, var(--danger) 100%);
  transform: translate(-50%, -30px);

  & span {
    position: absolute;
    height: 100%;
    margin: 0;
    top: 0;
    right: calc(100% - var(--health-level));
    background: var(--arena-line);
  }
}


/* --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---
                            FORM 
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */

#usernameDisplay {
    color: white; /* Choose a suitable text color */
    text-align: center;
    font-size: 20px; /* Adjust font size as needed */
    margin-bottom: 10px; /* Spacing between the username and the canvas */
}

.popup {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Dimmed background */
    align-items: center;
    justify-content: center;
    display: flex;
}

.popup-content {
    position: relative;
    z-index: 0;
    padding: 20px;
    text-align: center;
    --innerBorderWidth: 4px;
    --centralBorderWidth: 2px;
    --outerBorderWidth: 4px;
    --border-radius: 10px;
    border-radius: var(--border-radius);

    .inner-outline,
    .central-outline,
    .outer-outline {
      transform: skew(0deg);
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform: skew(0deg);
      background: var(--arena-bg);
    }

    .inner-outline {
      z-index: -1;
    }
}

#usernameInputContainer {
  position: relative;
  margin-top: 20px;
  width: 100%;
  
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 2px;
    width: 100%;
    background: var(--arena-line);
    box-shadow: 0 0 5px 0 var(--arena-line-glow);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

#usernameInput {
  padding: 10px;
  width: 80%;
  border: 2px solid var(--arena-line);
  border-radius: 10px;
  background: var(--arena-bg);
  outline: none;
  box-shadow: 0 0 5px 0 var(--arena-line-glow);
}

#submitUsername {
    --btn-background: var(--arena-line);
    position: relative;
    margin-top: 15px;
    padding: 9px 16px;
    border: none;
    cursor: pointer;
    background: none;
    color: var(--arena-bg);

    transition: background-color .3s;

    &:hover {
      --btn-background: var(--text);

      &::after {
        opacity: 1;
      }
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 150%;
      height: calc(100% + 1px);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-clip-path: polygon(85% 0, 100% 50%, 85% 100%, 15% 100%, 0 50%, 15% 0);
      clip-path: polygon(85% 0, 100% 50%, 85% 100%, 15% 100%, 0 50%, 15% 0);
      background-color: var(--btn-background);
      transition: background-color 1s;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: var(--btn-background);
      filter: blur(20px);
      opacity: 0;
      transition: opacity 1s;
    }
}